[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = "*"
msal = "*"
starlette = "*"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"
flit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
