[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
starlette = "*"
fastapi = "*"
msal = "*"

[dev-packages]
black = "*"
pylint = "*"
setuptools = "*"
mypy = "*"
flit = "*"
gitpython = "*"

[requires]
python_version = "3.9"

[scripts]
publish = "python ./scripts/publish.py"

[pipenv]
allow_prereleases = true
